/* asterisk wildcard selector to override default styles addede by ther browser*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: coral;
}

main {
    background-color: aqua;
}

footer {
    background-color: crimson;
}